
.h1 {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
line-height: normal;
}
.h2 {
  margin-bottom: 60px;
  font-size: 40px;
  font-weight: 700;
line-height: normal;
}
.blog {
  max-width: 1400px;
  margin: 0 auto;
 
}
.blog__inner {
  padding: 102px 123px 0 217px;
  display: flex;
  gap: 100px;
}
.form__wrapper {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.post-btn,
.post-title-input,
.post-text-input {
  font-size: 32px;
  font-weight: 400;
line-height: 39px;
}
.post-title-input {
   padding: 11px 0 11px 20px;
  border: 1px solid #000;
}
.post-title-input:focus,
.post-text-input:focus {
 background-color: #e0e8ed;
 border: 2px solid #000;
}
.post-text-input {
padding: 11px 0 200px 20px;
  border: 1px solid #000;
  resize: none;
 }

.post-btn {
  display: inline-block;
padding-top: 9px;
padding-bottom: 12px;
width: 100%;
background-color: #31805e;
}
.post-btn:active,
.post-btn:hover {
  background-color: #60afa5; 
}
.post-btn:disabled {
  cursor: default;
  opacity: 0.5;
}

.delete-btn {
  margin-top: 15px;
  display: inline-block;
  padding: 7px;
  width: 100%;
  background-color: #31805e;
  font-size: 20px;
  font-weight: 400;
  line-height: 39px;
}
.delete-btn:active,
.delete-btn:hover {
  background-color: #60afa5; 
}

.post {
  margin-bottom: 50px;
  max-width: 500px;
}
.blog__posts {
  display: flex;
  flex-direction: column;
 
}
.post {
  max-width: 500px;
}
.post__date {
  margin-bottom: 15px;
  font-size: 25px;
  line-height: 30px;
  color: #0094FF;
}
.post__title {
margin-bottom: 15px;
  font-size: 32px;
  font-weight: 700;
line-height: 39px;
}

.post__text {
  display: block;
  font-size: 25px;
  font-weight: 400;
line-height: 30px;
max-width: 500px;
}

.title__countSumbol,
.text__countSumbol {
  font-size: 20px;
 color: red;
}