/* .post-btn {
  display: inline-block;
padding-top: 9px;
padding-bottom: 12px;
width: 100%;
background-color: #31805e;
}
.post-btn:active,
.post-btn:hover {
  background-color: #60afa5; 
}
.post-btn:disabled {
  cursor: default;

 opacity: 0.5;
} */